@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(247, 250, 252);
    font-family: "Inter", sans-serif;
}

body {
    color: #4a5568;
}

nav {
    height: 80px;
}


ul {
    display: flex;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 36px;
    line-height: 1.2;
    color: #1a202c;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

/* 

nav 

*/

#landing {
    height: 100vh;
}

.nav__container {
    padding: 32px 0;
}

.container {
    padding:git 96px 0px;
}



.nav__logo {
    display: flex;
    align-items: center;
    margin-right: 24px;
    padding-bottom: 4px;
}

.nav__logo--img {
    width: 40px;
    margin-right: 12px;
}

.nav__logo--text {
    font-size: 24px;
    font-weight: 900px;
    color: #243e63;
}

.nav__links {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.nav__link--wrapper {
    display: flex;
    align-items: center;
    margin-left: 24px;
}

.nav__link {
    margin: 0 24px;
    padding-bottom: 4px;
    color: #4a5568;
    font-size: 16px;
    font-weight: bold;
    transition: all 300ms ease;
}


.nav__link:hover {
    border-bottom: 4px solid #6415ff;
    color: #6415ff;
}

.btn {
    font-size: 14px;
    font-weight: bold;
    color: #f7fafc;
    background-color: #6415ff;
    padding: 12px 32px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

/*

header 

*/

img {
    width: 100%;
    height: 100%;
    max-height: 50vh;
}

header {
    height: calc(100vh - 80px);
}

.header__container {
    height: 100%;
}


.purple {
    color: #6415ff;
}


.header__img--wrapper {
    width: 60%;
    display: flex;
    position: relative;
}

.header__img {
    width: 512px;
    right: 0px;
    bottom: 0px;
    position: absolute;
}

.header__text--wrapper {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.header__subtitle {
    margin: 32px 0;
}

.input__email {
    display: flex;
    align-items: center;
    margin: 0 0 64px 0;
    position: relative;
}

.input__email input {
    width: 100%;
    padding: 20px 192px 20px 32px;
    border-color: #a0aec0;
    border-radius: 50px;
    font-size: 16px;
}


.btn__get-started {
    width: 160px;
    margin: 8px 8px 8px 0;
    padding: 16px 0;
    position: absolute;
    right: 1px;
    top: 50%
    transform: translateY(-50%);
}


.header__company--para {
    font-size: 12px;
    font-weight: bold;
    color: #a0aec0;
}

.header__company--logo {
    margin-top: 16px;
    padding-right: 64px;
}
